


<form [formGroup]="dataentry1" (ngSubmit)="onSubmit1()">
   <div class="form-group">
        <mat-form-field>
        <input  matInput formControlName="productname" placeholder="Product Name" class="form-control" type="text">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="category" placeholder="Category" class="form-control">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="availableunits" placeholder="Available Units" type = number class="form-control" >
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="unitprice" placeholder="Unit Price" type = number class="form-control">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="tags" placeholder="tags" class="form-control" >
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput   formControlName="lastupdated" placeholder="Last Updated" class="form-control" >
        </mat-form-field>
        <br>
       
        <mat-form-field>
                <input matInput formControlName="location" placeholder="Location Area" class="form-control">
        </mat-form-field>
    
        <br>
        <mat-form-field>
            <textarea matInput formControlName="description" placeholder="Description" class="form-control" ></textarea>
        </mat-form-field>
        <br>
        <button style="color: crimson" mat-stroked-button type="submit">Update data</button>
    </div>
</form>
  

